<!DOCTYPE html>
<html>
<head>
  <title>Rachel Barone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link rel="shortcut icon" type="image/ico" href="https://s3-us-west-2.amazonaws.com/rachelbarone/favicon.png">
</head>
<body>

	<header class="group">
		<img src="https://s3-us-west-2.amazonaws.com/rachelbarone/logo_large.png" alt="Logo Large">
		<h1>RACHEL BARONE</h1>
		<nav>
			<ul>
				<li><a href="<%= root_url %>">Home</a></li>
				<li><a href="<%= bio_url %>">Bio</a></li>
				<li><a href="<%= portfolio_url %>">Portfolio</a></li>
				<li><a href="<%= resume_url %>">Resume</a></li>
				<li><a href="<%= contact_url %>">Contact</a></li>
			</ul>
		</nav>
	</header>


  <% unless flash.keys.empty? %>
  <ul id="flash">
  <% flash.try(:each) do |name, messages| %>
    <% messages.try(:each) do |message| %>
      <li class="<%= name %>"><%= message %></li>
    <% end %>
  <% end %>
  </ul>
  <% end %>



<%= yield %>

<footer>
	Rachel Barone Jewelry Design and Fabrication
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-16223611-2', 'rachelbarone.com');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>

</body>
</html>
